@import "tailwindcss";

@theme {
  --color-primary-cunyblue: #0033A1;
  --color-primary-taxi: #FFB71B;

  --color-secondary-indigo: #011D49;
  --color-secondary-azure: #1F5CFF;
  --color-secondary-deepcyan: #00AFEF;
  --color-secondary-sky: #A3C9FF;
  --color-secondary-lemonade: #FFEE1D;
  --color-secondary-cream: #FFFCD5;

  --color-neutral-pearl: #F7F4EB;
  --color-neutral-dove: #D8D7D6;
  --color-neutral-slate: #688197;
  --color-neutral-charcoal: #383838;
  --color-neutral-pewter: #76777A;
  --color-neutral-ochre: #C89210;
  --color-neutral-umber: #896B25;

  --color-accent-strawberry: #EA0045;
  --color-accent-hotpink: #E81F75;
  --color-accent-bubblegum: #FF9CCD;
  --color-accent-blush: #FFDCEE;
  --color-accent-cranberry: #BF0D3E;
  --color-accent-coral: #FF7370;
  --color-accent-salmon: #FFCBCA;
  --color-accent-grape: #510C76;
  --color-accent-lilac: #9A3CB0;
  --color-accent-thistle: #DEC2EB;
  --color-accent-seagreen: #005C5A;
  --color-accent-chartreuse: #C2D500;
  --color-accent-liberty: #45C2B1;
  --color-accent-mint: #B5EBD8;

  --color-bc-maroon: #882345;
  --color-bc-gold: #EBB700;
  --color-bc-warmgray: #82786F;
  --color-bc-dark: #0b0b0b;
  --color-bc-light: #f9f9f9;

  --font-sans: "Trade Gothic", /*"Trade Gothic Next LT Pro BdCn",*/ sans-serif;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

@font-face {
    font-family: "Trade Gothic Next LT Pro BdCn";
    src: url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.eot");
    src: url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b491db99790e4fce858c18892824b2a5.svg#Trade Gothic Next LT Pro BdCn")format("svg");
}

body {
  background-color: var(--color-bc-warmgray);
  color: var(--color-bc-light);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
